<div class="sidebar">
    <mat-list role="list">
        <mat-list-item role="listitem" class="active">
            <span>Department</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </mat-list-item>
        <mat-list-item role="listitem">HR</mat-list-item>
        <mat-list-item role="listitem">IT</mat-list-item>
    </mat-list>
    <div class="bottom">
        <mat-form-field appearance="outline">
            <mat-label>Theme</mat-label>
            <mat-select  [(value)]="selectedVal">
              @for (food of foods; track food) {
                <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        <button mat-flat-button class="logout">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
            <span>Logout</span>
        </button>
    </div>
</div>