@if(!previewChanges)
{
<div class="common-table">
  <div class="table-header">
    <div class="left-wrapper">
      <!-- <button mat-flat-button>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/></svg>        
        <span>Change Date Range</span>
      </button> -->
      <!-- <input type="text" ngxDaterange pickerMd  class="form-control"/> -->

      <input
      type="text"
      id="simpleCalendarAutoUpLeft"
      class="form-control file-input"
      style="box-shadow: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
      readonly
      ngxDaterangepickerBootstrap
      [showCancel]="true"
      [linkedCalendars]="true"
      [alwaysShowCalendars]="false"
      [showRangeLabelOnInput]="false"
      [keepCalendarOpeningWithRange]="false"
      [closeOnAutoApply]="true"
      [autoApply]="true"
      aria-describedby="simpleCalendarAutoUpLeftDesc"
      placeholder="Select range picker"
    />
      
    </div>
    <div class="right-wrapper">
      <div class="dropdown">
        <button mat-flat-button [matMenuTriggerFor]="menu" class="export">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
          <span>Export</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item 
          (click)="
          exporter.exportTable('xlsx', {
            fileName: 'test',
            sheet: 'sheet_name',
            Props: { Author: 'Talha' }
          })
        ">Excel</button>
          <button mat-menu-item (click)="exporter.exportTable('csv')">CSV</button>
        </mat-menu>
      </div>
      <button mat-flat-button (click)="toggle()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
        <span>New</span>
      </button>
    </div>
  </div>
  <div class="table-content">
    <table
      matTableExporter
      #exporter="matTableExporter"
      mat-table
      [dataSource]="dataSource"
      matSortDisableClear
      matSort
      (matSortChange)="sortData($event)"
      class="mat-elevation-z8"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
    >
      <!-- Define each column -->
      @for (column of columns; let i = $index; track column;) {

        <ng-container [matColumnDef]="column.name">
          {{ column }}
          <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>
            {{ column.displayName }}
          </th>
          
          <td mat-cell *matCellDef="let element">
            @if(isEditing(element, column.name)) {
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput
                [(ngModel)]="editingElement[column.name]"
                (blur)="onEditSave(element)"
              />
            </mat-form-field>
            } @if(!isEditing(element, column.name)) {
            <span (click)="editElement(element, column.name)">
              {{ element[column.name] }}
            </span>
            } 
          </td>
    
          <ng-container [matColumnDef]="displayedColumnFilters[i]">
            <th mat-header-cell *matHeaderCellDef>
              <app-inline-filters
                [filter]="column.filterType"
                [label]="column.name"
                [name]="column.name"
                [options]="column.options"
                (filterChange)="applyFilter($event)"
              ></app-inline-filters>
            </th>
          </ng-container>
        </ng-container>
        }
      <!-- Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- Filter Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumnFilters"></tr>

      <!-- Data Rows -->
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="rowClick(row)"
      ></tr>
    </table>
  </div>
  <!-- No data and loading messages -->
  @if(loaded && noDataFound) {
  <div class="no-data">
    {{ "common.noRecord" }}
  </div>
  } @if(!loaded) {
  <!-- <div class="no-data">
    {{ "common.loadingText" }}
  </div> -->
  }
  <div class="table-footer">
    <mat-paginator #paginator
    (page)="handlePageEvent($event)" [length]="resultsLength" [pageIndex]="0"  
    aria-label="Select page of GitHub search results"></mat-paginator>
    
    
    <div class="filters">
      <div class="flex items-center justify-between ">
        <div class="left-wrapper">
          <mat-checkbox><a href="#" class="text-primary text-decoration-none">Add Filter</a></mat-checkbox>
        </div>
        <div class="right">
          <a href="" class="text-primary text-decoration-none">Clear</a>
        </div>
      </div>
    </div>
    <div class="action-changes-buttons flex justify-end items-center">
      @if(isEdit){
      <button mat-flat-button (click)="showPreviewChanges()">Preview Change</button>
      }
      @if(previewChanges){
        <button mat-flat-button (click)="hidePreviewChanges()">Save Change</button>
        <button mat-flat-button  (click)="cancelChanges()">Cancel Change</button>
      }
    </div>
  </div>
</div>
}
@if(previewChanges)
{
<div class="common-table">
    <table
      matTableExporter
      #exporter="matTableExporter"
      mat-table
      [dataSource]="dataSource"
      matSortDisableClear
      matSort
      (matSortChange)="sortData($event)"
      class="mat-elevation-z8"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
    >
      <!-- Define each column -->
      @for (column of columns; let i = $index; track column;) {

        <ng-container [matColumnDef]="column.name">
          {{ column }}
          <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>
            {{ column.displayName }}
          </th>
          
          <td mat-cell *matCellDef="let element" [class.highlight]="isChanged(column.name,element.ticket)">
            @if(isEditing(element, column.name)) {
            <input
              [(ngModel)]="editingElement[column.name]"
              (blur)="onEditSave(element)"
            />
            } @if(!isEditing(element, column.name)) {
            <span (click)="editElement(element, column.name)">
              {{ element[column.name] }}
            </span>
            } 
          </td>
    
          <ng-container [matColumnDef]="displayedColumnFilters[i]">
            <th mat-header-cell *matHeaderCellDef>
              <app-inline-filters
                [filter]="column.filterType"
                [label]="column.name"
                [name]="column.name"
                [options]=""
                (filterChange)="applyFilter($event)"
              ></app-inline-filters>
            </th>
          </ng-container>
        </ng-container>
        }
  
      <!-- Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
      <!-- Filter Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumnFilters"></tr>
  
     
  
      <!-- Data Rows -->
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="rowClick(row)"  
        
      ></tr>
    </table>
  
    <!-- No data and loading messages -->
    @if(loaded && noDataFound) {
    <div class="no-data">
      {{ "common.noRecord" }}
    </div>
    } @if(!loaded) {
    <div class="no-data">
      {{ "common.loadingText" }}
    </div>
    }

    <div class="table-footer">
      <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator>
      <div class="filters">
        <div class="flex items-center justify-between ">
          <div class="left-wrapper">
            <mat-checkbox><a href="#" class="text-primary text-decoration-none">Add Filter</a></mat-checkbox>
          </div>
          <div class="right">
            <a href="" class="text-primary text-decoration-none">Clear</a>
          </div>
        </div>
      </div>
      <div class="action-changes-buttons flex justify-end items-center">
        @if(previewChanges){
          <button mat-flat-button (click)="hidePreviewChanges()">Save Change</button>
          <button mat-flat-button  (click)="cancelChanges()">Cancel Change</button>
        }
      </div>
    </div>
  </div>
}

