@switch (filter) {
	@case (filterTypes.TEXT) {
	<mat-form-field appearance="outline" class="example-full-width">
		<mat-icon matTextPrefix>search</mat-icon>
		<input matInput type="text" placeholder="Search" (keydown)="debounceChanged($event)" [attr.id]="name + '-' + randomId" autocomplete="off" class="filter-text-input" tabindex="-1" (keyup)="debounceChanged($event)" />
	</mat-form-field>
	}
	@case(filterTypes.NUMBER) {
	<mat-form-field appearance="outline" class="example-full-width">
		<mat-icon matTextPrefix>search</mat-icon>
		<input matInput [attr.aria-label]="label" placeholder="Search"  type="text" (keyup)="debounceChanged($event)" [attr.id]="name + '-' + randomId" autocomplete="off" class="filter-text-input" tabindex="-1" />
	</mat-form-field>
	}
	@case (filterTypes.SELECT) {
	<mat-form-field appearance="outline">
		<mat-select placeholder="Select" [(ngModel)]="selectedValue" (selectionChange)="debounceChanged($event,true)">
			<mat-option (click)="clearSelection()">Clear</mat-option>

			@for (option of options; let i = $index; track option;) {

			<mat-option [value]="option">{{ option }}</mat-option>
			}
		</mat-select>
	</mat-form-field>
	}


	@case (filterTypes.NONE) {
	<div class="filterContainer">
		<!-- no filter -->
	</div>
	}
}