
@switch (filter) {
	@case (filterTypes.TEXT) {
				<input
					type="text"
					(keydown)="debounceChanged($event)"
					[attr.id]="name + '-' + randomId"
					autocomplete="off"
					class="filter-text-input"
					tabindex="-1"
					(keyup)="debounceChanged($event)"
				/>		
	}
	@case(filterTypes.NUMBER) {
		<div>
			<input
				[attr.aria-label]="label"
				type="text"
				(keyup)="debounceChanged($event)"
				[attr.id]="name + '-' + randomId"
				autocomplete="off"
				class="filter-text-input"
				tabindex="-1"
			/>
		</div>
	}
	@case (filterTypes.SELECT) {
		<div>
			<mat-select  (selectionChange)="filterChange.emit($event.value)">
                <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
              </mat-select>
		</div>
	}




	@case (filterTypes.NONE) {
		<div class="filterContainer">
			<!-- no filter -->
		</div>
	}
}
